@import url('https://fonts.cdnfonts.com/css/bricolage-grotesque');
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
}
body {
  background-color: #282c34;
  color: aliceblue;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
